.content{
    margin:15px;
    margin-bottom:0px;
}
.card-body th{
    font-size:15px !important;
}
.display-img{
    padding:50px;
    width:100%;
}

.inline{
    display: inline;
}
.data-date{
    font-size:20px;

}