.lrt-map{
    margin-top: 50px;
    transform-origin: top left;
    /* display:inline; */
}
.lrt-map img{
    opacity:0.9;
    width: 1320px;
}
canvas{
    width:100%;
}
.clock{
    font-size:1.5em;
    display:none;
}

.detect-area div{
    position: absolute;
    background-color: #e9e9e961;
    border-style: solid;
    border-width: thin;
    border-color:red;
    /* border-color: #bdb9b969; */
}
.detect-area{
    position:absolute;
    height:100%;
    width:100%;
    right: 10px;
    top: -70px;
}

svg {width: 100%; height: auto;}

img{
    height:40px;
}
.realtime-video{
    width:100%;
    height:100%;
}
.station-name{
    font-size:18px;
}

.reverse-lrt, .reverse-lrt div{
    float:right;
    display:block
}

.right{
    text-align:right;
}

#train-AB, #train-BC, #train-CD, #train-DC, #train-CB, #train-BA{
    display:none;
}
.progress-bar{
    background-color:#175b1c;
}


@media screen and (max-width: 1300px) {
    .station-name{
        font-size:16px;
    }
    img{
        height:30px;
    }

}

@media screen and (max-width: 1100px) {
    .station-name{
        font-size:15px;
    }
    img{
        height:25px;
    }

}
@media screen and (max-width: 800px) {
    .station-name{
        font-size:12px;
    }
    img{
        height:20px;
    }

    
}
@media screen and (max-width: 600px) {
    .station-name{
        font-size:10px;
    }
    img{
        height:16px;
    }
    .status-bar span{
        font-size:12px;
    }

}


