html, body{
  background-color: #ebecf1;

}

.sidebar-wrapper{
    font-size:21px;
}

.side-menu-text{
    color:white;
    font-size:25px;
}
.side-menu-icon{
    font-size:30px !important;
}

.table-responsive {
  overflow: auto;
  padding-bottom: 10px;
  height:10vw
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .loaderMsg{
    position: absolute;
    /* left: calc(50% - 100px);; */
    top: 40%;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffb236;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .red{
    color:#e2663c;
  }
  .brown{
    color:#bb5735
  }

  .overlay {
    background: #9f9f9f;  
    display: block;        
    position: absolute;   
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index:2;
}

.green-bar{
  width:50px;
  height:10px;
  background-color:rgb(0,255,0);
  display: inline-block;
}
.yellow-bar{
  width:50px;
  height:10px;
  background-color:rgb(255,255,0);;
  display: inline-block;
}
.red-bar{
  width:50px;
  height:10px;
  background-color:rgb(255,0,0);;
  display: inline-block;
}
.blue-bar{
  width:50px;
  height:10px;
  background-color:rgb(0,0,255);
  display: inline-block;
}
.green-blue-bar{
  width:50px;
  height:10px;
  background-color:rgb(0,255,255);
  display: inline-block;
}
.purple-bar{
  width:50px;
  height:10px;
  background-color:rgb(255,0,255);
  display: inline-block;
}