<!-- <div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart"></canvas>
</div> -->
<div class="content">
    <div class="row">
    
        <div class='col-lg-2'>
            <div class="form-group">
                <label for="selectedHour">時間</label>
                <select class="form-control background-white" id="selectedHour" ng-model="selectedHour">
                    <option ng-repeat="h in hours">{{h}}</option>
                </select>
            </div>
        </div>
        <div class='col-lg-1 col-md-2'>
            <button type="button" class="btn btn-primary mt-30px" ng-click="search()">搜尋</button>
        </div>
    </div>

    <div class="row">  
        <div class="col-lg-4 col-md-3 col-sm-12" ng-repeat="name in lineType">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">{{baseData[name].name}}</h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>區域（公分）</th>
                                <th>時間</th>
                                <th>座標 (X, Y, Z)</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in baseData[name].data" ng-if="x.direction!=0">
                                    <td>{{x.date | lotDateFilter}}</td>
                                    <td>{{x.section}}</td>
                                    <td>{{x.time}} 點</td>
                                    <td>({{x.x}} , {{x.y}} , {{x.z}})</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>

<link href="css/home.css" rel="stylesheet" />