

<script type="module">

    import * as THREE from './build/three.module.js';

    import Stats from './threejs/jsm/libs/stats.module.js';

    import { TrackballControls } from './threejs/jsm/controls/TrackballControls.js';
    import { PCDLoader } from './threejs/jsm/loaders/PCDLoader.js';

    var container, stats;
    var camera, controls, scene, renderer;
    var fileName = "";
    init();
    animate();
    

    function init() {

        scene = new THREE.Scene();
        scene.background = new THREE.Color(0x000000);
        let pX = -20;
        let pY = -30;
        let pZ = 50;

        camera = new THREE.PerspectiveCamera(90, window.innerWidth / window.innerHeight, 1, 500);
        camera.position.x = pX;
        camera.position.y = pY;
        camera.position.z = pZ;
        camera.up.set(0, 0, 1);
        scene.add(camera);
        renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);
        var loader = new PCDLoader();
        try {
            loader.load('./threejs/models/A_01s.pcd', function (points) {
                console.log(points)
                scene = new THREE.Scene();
                scene.background = new THREE.Color(0x000000);
                points.material.color.setHex(12123800.298747486);
                points.material.size = 0.1
                scene.add(points);
                var center = points.geometry.boundingSphere.center;
                controls.target.set(center.x, center.y, center.z);
                controls.update();
               
            });
        } catch (err) {
            console.log(err)
        }



        container = document.createElement('div');
        document.body.appendChild(container);
        container.appendChild(renderer.domElement);

        controls = new TrackballControls(camera, renderer.domElement);

        controls.rotateSpeed = 8;
        controls.zoomSpeed = 8;
        controls.panSpeed = 8;

        controls.staticMoving = true;

        controls.minDistance = 0.8;
        controls.maxDistance = 1 * 2000;

        stats = new Stats();
        //container.appendChild(stats.dom);

        window.addEventListener('resize', onWindowResize, false);

        window.addEventListener('keypress', keyboard);

    }
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
        controls.handleResize();
    }

    function keyboard(ev) {
        var points = scene.getObjectByName('A_01s.pcd');
        switch (ev.key || String.fromCharCode(ev.keyCode || ev.charCode)) {
            case '+':
                points.material.size *= 1.5;
                points.material.needsUpdate = true;
                break;

            case '-':
                points.material.size /= 1.5;
                points.material.needsUpdate = true;
                break;

            case 'c':
                let c = Math.random() * 0xffffff
                points.material.color.setHex(c);
                points.material.needsUpdate = true;
                break;

        }

    }
    var angle = 0

    function animate() {

        requestAnimationFrame(animate);

        controls.update();
        renderer.render(scene, camera);
        //	camera.position.x = 20 * Math.sin( angle );
        //	angle += 0.01;
        stats.update();

    }
    function detectMob() {
        return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
    }

</script>
<style>
    .wrapper{
        height:0px;
    }
    .footer{
        display:none;
    }
</style>