<div class="content">
    <br>
    <div class="overlay"  ng-if="loading"></div>
    <div class="text-center " ng-show="loading">
        <h3 class="text-center loaderMsg" ng-show="loading">{{loadingMsg}}</h3>
        <div class="loader"></div>
    </div>

    <div class="row" ng-hide="loading">
        <div class="col-12">
            <div id="history_canvas"></div>
        </div>
    </div>
    <br>
    <!-- <div class="row">
        <div class="col-12" ng-if="compareData.length>0">
            <p class="" ng-hide="loading">註：沒有位移量的區段不顯示數值</p>
            <p class="inline" ng-hide="loading">內縮位移量 1cm 以上 3cm 以下 </p><div class="green-bar"></div><br>
            <p class="inline" ng-hide="loading">內縮位移量 3cm 以上 5cm 以下 </p><div class="yellow-bar"></div><br>
            <p class="inline" ng-hide="loading">內縮位移量 5cm 以上 </p><div class="red-bar"></div><br>
            <p class="inline" ng-hide="loading">外擴位移量 1cm 以上 3cm 以下 </p><div class="green-blue-bar"></div><br>
            <p class="inline" ng-hide="loading">外擴位移量 3cm 以上 5cm 以下 </p><div class="blue-bar"></div><br>
            <p class="inline" ng-hide="loading">外擴位移量 5cm 以上 </p><div class="purple-bar"></div>
        </div>
    </div> -->
    <p class="" ng-hide="loading" ng-if="compareData.length>0">註：沒有位移量的區段不顯示數值</p>
    <div class="row" ng-hide="loading" ng-if="compareData.length>0">
        <div class="colorLable ml-3" >
            <div class="green-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 1~3cm </p>
            <div class="green-blue-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 1~3cm </p><br>
            <div class="yellow-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 3~5cm </p>
            <div class="blue-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 3~5cm </p><br>
            <div class="red-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 > 5cm </p>
            <div class="purple-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 > 5cm </p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class='col-lg-2 col-md-4'>
            <div class="form-group">
                <label for="date">日期</label>
                <input type="date" id="date" name="date" class="form-control background-white"
                    ng-model="selectedDate">
            </div>
        </div>
        <div class='col-lg-2 col-md-4'>
            <div class="form-group">
                <label for="selectedHour">時間</label>
                <select class="form-control background-white" ng-options="h.name for h in hours" ng-model="selectedHour" >     
                </select>
            </div>
        </div>
        <div class='col-lg-2 col-md-3'>
            <button type="button" class="btn btn-primary mt-30px" ng-click="search()">搜尋</button>
        </div>
    </div>


    <br>
    <div class="row" ng-show="showChart.hour">
        <div class="col-lg-12 col-md-3 col-sm-12" id="barChart24Block" > 
            <canvas id="barChart24" width="400" height="80" ></canvas>
        </div>
    </div>
    <div class="row" ng-show="showChart.day">
        <div class="col-lg-12 col-md-3 col-sm-12" id="barChartBlock" > 
            <canvas id="barChart" width="400" height="80" ></canvas>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-3 col-sm-12"   ng-if="compareSection24Data.length!=0">
            <label class="switch">
                <input type="checkbox" ng-click="plot24(showChart24)" ng-model="showChart.hour">
                <span class="slider round"></span>
            </label>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">過去24小時變位</h4>
                </div>
                <div class="card-body">
                    <p>座標: {{compareSection24Data[0].base_x+311471.92}} , {{compareSection24Data[0].base_y+2771628.85}} , {{compareSection24Data[0].base_z+15.97}}  </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>時間</th>
                                <th>位移量</th>
                                <th>方向</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in compareSection24Data" >
                                    <td>{{x.date | lotDateFilter}}</td>
                                    <td>{{x.time}}</td>
                                    <td>{{x.displacement}}</td>
                                    <td><span ng-if="x.direction==1">內縮</span><span ng-if="x.direction==-1">外擴</span></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-3 col-sm-12"   ng-if="compareSectionData.length!=0">
            <label class="switch">
                <input type="checkbox" ng-click="plot()" ng-model="showChart.day">
                <span class="slider round"></span>
            </label>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">同時段每日變位</h4>
                </div>
                <div class="card-body">
                    <p>座標: {{compareSectionData[0].base_x+311471.92}} , {{compareSectionData[0].base_y+2771628.85}} , {{compareSectionData[0].base_z+15.97}}  </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>位移量</th>
                                <th>方向</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in compareSectionData" ng-if="x.direction!=0">
                                    <td>{{x.date | lotDateFilter}}</td>
                                    <td>{{x.displacement}}</td>
                                    <td><span ng-if="x.direction==1">內縮</span><span ng-if="x.direction==-1">外擴</span></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-3 col-sm-12"   ng-if="compareData.length!=0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">變位數據</h4>
                </div>
                <div class="card-body">
                    <!-- <p>最大變位量為 {{maxMin[name].max}}  最小變位量為 {{maxMin[name].min}}</p> -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>區域線段 x y z</th>
                                <th>位移量</th>
                                <th>方向</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in compareData" ng-if="x.direction!=0">
                                    <td>{{x.date | lotDateFilter}}</td>
                                    <td>{{x.base_x}} {{x.base_y}} {{x.base_x}}</td>
                                    <td>{{x.displacement}}</td>
                                    <td><span ng-if="x.direction==1">內縮</span><span ng-if="x.direction==-1">外擴</span></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<link href="css/home.css" rel="stylesheet" />