<!-- <div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart"></canvas>
</div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="content">
    <br>
    <h3 class="text-center" ng-show="loading">資料讀取中請稍後</h3>
    <div class="text-center" ng-show="loading">
        <div class="loader"></div>
    </div>
    <div class="row" ng-hide="loading">
        <div class="col-12">
            <div id="home_canvas"></div>
        </div>
    </div>
    <!-- <h3 class="text-center" ng-hide="loading">五天內持續變化區塊資料</h3> -->
    <p class="" ng-hide="loading">註：沒有位移量的區段不顯示數值</p>
    <p class="inline" ng-hide="loading">位移量 1cm 以上 3cm 以下 </p><div class="green-bar"></div><br>
    <p class="inline" ng-hide="loading">位移量 3cm 以上 5cm 以下 </p><div class="yellow-bar"></div><br>
    <p class="inline" ng-hide="loading">位移量 5cm 以上 </p><div class="red-bar"></div>


    <br>

    <div class="row" ng-show="compareData['AH1'].showChart || compareData['AH2'].showChart || compareData['AH3'].showChart || compareData['AH4'].showChart || compareData['AH5'].showChart || compareData['AH6'].showChart || compareData['AH7'].showChart || compareData['AH8'].showChart || compareData['AW1'].showChart || compareData['AW2'].showChart || compareData['AW3'].showChart ">
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AH1'].showChart"> 
            <canvas id="chartAH1" width="400" height="80" ></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AH2'].showChart">
            <canvas id="chartAH2" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['AH3'].showChart">
            <canvas id="chartAH3" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['AH4'].showChart">
            <canvas id="chartAH4" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['AH5'].showChart">
            <canvas id="chartAH5" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AH6'].showChart">
            <canvas id="chartAH6" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AH7'].showChart">
            <canvas id="chartAH7" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AH8'].showChart">
            <canvas id="chartAH8" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AW1'].showChart"> 
            <canvas id="chartAW1" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AW2'].showChart"> 
            <canvas id="chartAW2" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['AW3'].showChart"> 
            <canvas id="chartAW3" width="400" height="80"></canvas>
        </div>
    </div>  
    <div class="row" ng-show="compareData['BH1'].showChart || compareData['BH2'].showChart || compareData['BH3'].showChart || compareData['BH4'].showChart || compareData['BH5'].showChart || compareData['BH6'].showChart || compareData['BH7'].showChart || compareData['BH8'].showChart || compareData['BW1'].showChart || compareData['BW2'].showChart || compareData['BH9'].showChart ">
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH1'].showChart"> 
            <canvas id="chartBH1" width="400" height="80" ></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH2'].showChart">
            <canvas id="chartBH2" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['BH3'].showChart">
            <canvas id="chartBH3" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['BH4'].showChart">
            <canvas id="chartBH4" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12"  ng-show="compareData['BH5'].showChart">
            <canvas id="chartBH5" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH6'].showChart">
            <canvas id="chartBH6" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH7'].showChart">
            <canvas id="chartBH7" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH8'].showChart">
            <canvas id="chartBH8" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BH9'].showChart"> 
            <canvas id="chartBH9" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BW1'].showChart"> 
            <canvas id="chartBW1" width="400" height="80"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" ng-show="compareData['BW2'].showChart"> 
            <canvas id="chartBW2" width="400" height="80"></canvas>
        </div>
       
    </div>  
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12" ng-repeat="name in lineType"  ng-if="compareData[name].data.length!=0">
            <span>{{compareData[name].chart}}</span>
            <label class="switch">
                <input type="checkbox" ng-click="plotAW(compareData[name].name,name)">
                <span class="slider round"></span>
            </label>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">{{compareData[name].name}}</h4>
                </div>
                <div class="card-body">
                    <p>最大變位量為 {{maxMin[name].max}}  最小變位量為 {{maxMin[name].min}}</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>區域線段</th>
                                <th>位移量</th>
                                <th>方向</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in compareData[name].data" ng-if="x.direction!=0">
                                    <td>{{x.date}}</td>
                                    <td>{{x.section*10}}</td>
                                    <td>{{x.displacement}}</td>
                                    <td><span ng-if="x.direction==1">內縮</span><span ng-if="x.direction==-1">外擴</span></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<!-- <script type="module" src="js/home_3d.js"></script> -->
<link href="css/home.css" rel="stylesheet" />
