
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="content">
    <br>
    <div class="overlay"  ng-if="loading"></div>
    <div class="text-center " ng-show="loading">
        <h3 class="text-center loaderMsg" ng-show="loading">{{loadingMsg}}</h3>
        <div class="loader"></div>
    </div>
    <div class="row" ng-hide="loading">
        <div class="col-12">
            <div id="live_canvas"></div>
        </div>
    </div>
    <p class="" ng-hide="loading">註：沒有位移量的區段不顯示數值</p>

    <div class="row" ng-hide="loading">
        <div class="colorLable ml-3" >
            <div class="green-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 1~3cm </p>
            <div class="green-blue-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 1~3cm </p><br>
            <div class="yellow-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 3~5cm </p>
            <div class="blue-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 3~5cm </p><br>
            <div class="red-bar"></div>
            <p class="inline ml-1" ng-hide="loading">內縮 > 5cm </p>
            <div class="purple-bar  ml-5"></div>
            <p class="inline ml-1" ng-hide="loading">外擴 > 5cm </p>
        </div>
    </div>

    <br>
    <!-- <h4>數據日期：{{selectedDateDisplay}}</h4> -->

    <br>
    <div class="row">
       
        <div class='col-lg-2 col-md-4'>
            <div class="form-group">
                <label for="selectedDisplacement">變位量大於(cm)</label>
                <select class="form-control background-white" id="selectedDisplacement" ng-model="selectedDisplacement">
                    <option ng-repeat="h in disArr">{{h}}</option>
                </select>
            </div>
        </div>
        <div class='col-lg-2 col-md-3'>
            <button type="button" class="btn btn-primary mt-30px" ng-click="search()">搜尋</button>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-12 col-md-3 col-sm-12"   ng-if="compareData.length!=0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">變位數據</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>區域座標</th>
                                <th>位移量</th>
                                <th>方向</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in compareData" ng-if="x.direction!=0">     
                                    <td>{{x.base_x+311471.92}} {{x.base_y+2771628.85}} {{x.base_z+15.97}}</td>
                                    <td>{{x.displacement}}</td>
                                    <td><span ng-if="x.direction==1">內縮</span><span ng-if="x.direction==-1">外擴</span></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>  -->
    
</div>
<link href="css/home.css" rel="stylesheet" />
