<!-- <div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart"></canvas>
</div> -->
<div class="content">
    <br>
    <h3 class="text-center" ng-show="loading">資料讀取中請稍後</h3>
    <div class="text-center" ng-show="loading">
        <div class="loader"></div>
    </div>

    <h3 class="text-center" ng-hide="loading">區塊{{section/100}}公尺-變位資料</h3>

    <div class="row mb-5">
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH1" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH2" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH3" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH4" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH5" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAH6" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAW1" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAW2" width="400"  height="50"></canvas>
        </div>
        <div class="col-lg-12 col-md-3 col-sm-12" > 
            <canvas id="changeAW3" width="400"  height="50"></canvas>
        </div>
       
    </div>  
    
    <br>
    
</div>

<link href="css/home.css" rel="stylesheet" />
