
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="content">
    <br>
    <div class="overlay"  ng-if="loading"></div>
    <div class="text-center " ng-show="loading">
        <h3 class="text-center loaderMsg" ng-show="loading">{{loadingMsg}}</h3>
        <div class="loader"></div>
    </div>
    <div class="row" ng-hide="loading">
        <div class="col-12">
            <div id="home_canvas"></div>
        </div>
    </div>


    <div class="row">
        <div class='col-lg-2 col-md-4'>
            <div class="form-group">
                <label for="selectedHour">小時</label>
                <select class="form-control background-white" id="selectedHour" ng-model="selectedHour">
                    <option ng-repeat="h in hours">{{h}}</option>
                </select>
            </div>
        </div>
        <div class='col-lg-2 col-md-3'>
            <button type="button" class="btn btn-primary mt-30px" ng-click="search()">搜尋</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12 col-md-3 col-sm-12"   ng-if="baseData.length!=0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">起始數據</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>日期</th>
                                <th>區域座標</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in baseData" ng-if="x.direction!=0">
                                    <td>{{x.date | lotDateFilter}}</td>
                                    <td>{{x.x+311471.92}} {{x.y+2771628.85}} {{x.z+15.97}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    
</div>
<!-- <script type="module" src="js/home_3d.js"></script> -->
<link href="css/home.css" rel="stylesheet" />
